* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid {
    background: #DDD;
    margin: 10px auto;
    max-width: 1400px;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    background: #eeeeee;
    margin-bottom: 5px;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
  }

  figcaption {
    padding: 5px;
    color: #4d4d4d;
    text-align: center
  }
  